mat-dialog-content {
    padding: 10px;
}

.polaroid {
    margin: auto;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
}

.container {
    text-align: center;
    padding: 5px 10px 3px;
}

.dialog-actions {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
