mat-spinner {
    margin: auto;
    margin-top: 20%;
}

.list-container {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.polaroid {
    margin: auto;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
}

.container {
    text-align: center;
    padding: 5px 10px 3px;
}

h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dialog-actions {
    display: flex;
    justify-content: center;
}

